.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-left,
.about-right {
    width: 400px;
    height: 400px;
}

.about-right h3 {
    font-size: 200%;
    margin-bottom: 5px;
}

.about-right p {
    margin-bottom: 15px;
}

.about-right button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #86654b;
    color: white;
    border-radius: 4px;
    font-size: medium;
    transition: all 0.3s ease;
}

.about-right button:hover {
    background-color: rgba(134, 100, 75, 0.852);
    cursor: pointer;
}

.about-left {
    background: url('https://farrfoxr.github.io/FutureMajor/Assets/sitting.jpg');
    background-size: cover;
}

.about-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
